<section class="main-max">
    <h1 class="title text-center">Agro Online</h1>
    <h2 class="title">Dúvidas Comuns ( FAQ )</h2>
    
    <mat-accordion multi [togglePosition]="'before'">
        <mat-expansion-panel>
            <mat-expansion-panel-header style="height: auto;">
                <mat-panel-title class="panel-title-duvidas">O que é o Coronavirus?</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                Coronavírus é uma família de vírus que causam infecções respiratórias. O novo agente do coronavírus foi descoberto em 31/12/19 após casos registrados na China. 
                Provoca a doença chamada de coronavírus (COVID-19).
                <br><br>
                Os primeiros coronavírus humanos foram isolados pela 
                primeira vez em 1937. No entanto, foi em 1965 que o vírus foi descrito como coronavírus, em decorrência do perfil na microscopia, parecendo uma coroa.
                <br><br>
                A maioria das pessoas se infecta com os 
                coronavírus comuns ao longo da vida, sendo as crianças 
                pequenas mais propensas a se infectarem com o tipo mais comum do vírus. 
                Os coronavírus mais comuns que infectam humanos são o alpha coronavírus 
                229E e NL63 e beta coronavírus OC43, HKU1.
            </p>
            
        </mat-expansion-panel>

        <mat-expansion-panel style="height: auto;">
            <mat-expansion-panel-header style="height: auto;">
                <mat-panel-title class="panel-title-duvidas">Qual é a diferença entre o novo coronavírus para os outros vírus?</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                A doença provocada pelo novo coronavírus chama-se COVID-19, sigla em inglês para “coronavirus disease 2019” (doença por coronavírus 2019, em tradução livre).
            </p>

            <p>
                Os primeiros casos foram registrados inicialmente na China, no final de 2019. Há registros em outros locais do mundo, com casos de mortes.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="panel-title-duvidas">Quais os sintomas do coronavírus?</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                É possível estar com a COVID-19 por até 14 dias antes de apresentar os sintomas, que são febre, cansaço e tosse seca. A maioria das pessoas (cerca de 80%) 
                se recupera da doença sem a necessidade de tratamentos especiais.
Em casos mais raros, ela pode ser grave e até fatal. Idosos e pessoas com outras condições médicas 
(como asma, diabetes e doença cardíaca) são mais vulneráveis a quadros sérios.<br><br>
Possíveis sintomas:<br>
Tosse<br>
Febre<br>
Cansaço<br>
Dificuldade para respirar (em casos graves)
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</section>
