<section class="space-mobile">
    <br>
    <h1 class="title text-center">Agro-Online</h1>
    <h2 class="text-center">O Ambiente virtual que conecta os agentes do agronegócio</h2>
    <p class="text-center">Todo o setor agro ao seu alcance, online e por Whatsapp! Cadastre-se e conecte-se.</p>
    <div class="main-max">
    

        <div class="text-justify box-apresentacao">
            <h2 class="title text-center">A história da plataforma</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor massa id neque aliquam vestibulum morbi blandit. Vitae auctor eu augue ut. Vel facilisis volutpat est velit egestas dui id ornare arcu. At tempor commodo ullamcorper a lacus. Sit amet risus nullam eget felis eget. Augue neque gravida in fermentum et sollicitudin ac. Nam at lectus urna duis convallis convallis tellus. Cum sociis natoque penatibus et magnis dis. Aenean sed adipiscing diam donec adipiscing. Gravida rutrum quisque non tellus orci ac auctor. Quam elementum pulvinar etiam non.</p>
        </div>
        <div class="text-justify box-apresentacao">
            <h2 class="title text-center">Para que serve a plataforma ?</h2>
            <p>Fringilla phasellus faucibus scelerisque eleifend donec. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Mauris nunc congue nisi vitae suscipit tellus mauris a. Et netus et malesuada fames ac turpis. Sagittis id consectetur purus ut faucibus. Eu lobortis elementum nibh tellus molestie nunc. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. Risus feugiat in ante metus dictum at. Lacus sed viverra tellus in hac. Aliquet nec ullamcorper sit amet risus nullam eget felis eget. Sed risus ultricies tristique nulla aliquet. Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat.</p>
        </div>
        <div class="text-justify box-apresentacao">
            <h2 class="title text-center">Quem Somos ?</h2>
            <p>Congue quisque egestas diam in arcu cursus euismod quis. Pellentesque habitant morbi tristique senectus. Nulla aliquet enim tortor at auctor urna nunc id. Eros donec ac odio tempor orci dapibus. Lectus magna fringilla urna porttitor rhoncus dolor. Odio morbi quis commodo odio aenean sed adipiscing diam. Felis donec et odio pellentesque diam volutpat commodo sed egestas. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Sed egestas egestas fringilla phasellus faucibus. Cras semper auctor neque vitae tempus quam. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Velit dignissim sodales ut eu sem integer vitae. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Penatibus et magnis dis parturient. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
        </div>
    </div>
</section>

<section>
    <h2 class="title text-center" style="margin-bottom: 40px;">Cadastre-se ou conecte-se</h2>
    <div class="flex-flow" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutAlign.xs="space-evenly center">
        <div class="box" fxLayoutAlign="center center">
            <figure class="fig-p0">
                <img src="/assets/imagens/parceiros.png" alt="Governo do estado de São Paulo">
                <figcaption><h2>SAA</h2></figcaption>
            </figure>
        </div>
        
      
        <div class="box" fxLayoutAlign="center center">
            <figure class="fig-p0">
                <img src="/assets/imagens/associacao.png" alt="Governo do estado de São Paulo" style="width: 180px;height: 180px;">
                <figcaption><h2>Orgão e Associação</h2></figcaption>
            </figure>
        </div>
        
        <div class="box" fxLayoutAlign="center center">
            <figure class="fig-p0">
                <img src="/assets/imagens/parceiros.png" alt="Governo do estado de São Paulo">
                <figcaption><h2>Parceiros</h2></figcaption>
            </figure>
        </div>
    </div>
</section>